In [1]:
import sqlite3
import pandas as pd

In [2]:
cnx = sqlite3.connect(r'../db/development.sqlite3')

In [9]:
cur = cnx.cursor()

In [24]:
df = pd.read_sql_query("SELECT * from neighborhoods", cnx)
df.sort_values(by=['population'], ascending=False)

,id,name,population,white,black_AfAm,amInd_AkNa,asian,natHaw_Pac,other_Race,twoOrMore,isp_Lat,housing,occupied,unoccupied,created_at,updated_at
235,236,Towanda-Grantley,988,44,866,5,2,1,23,47,40,535,386,149,2023-10-28 00:04:03.813832,2023-10-28 00:04:03.813832
120,121,Evergreen Lawn,988,1,967,0,2,0,7,11,11,444,342,102,2023-10-28 00:04:03.683367,2023-10-28 00:04:03.683367
399,400,Evergreen Lawn,988,1,967,0,2,0,7,11,11,444,342,102,2023-10-28 00:04:36.465084,2023-10-28 00:04:36.465084
514,515,Towanda-Grantley,988,44,866,5,2,1,23,47,40,535,386,149,2023-10-28 00:04:36.589213,2023-10-28 00:04:36.589213
293,294,Moravia-Walther,978,295,588,5,12,0,18,60,45,431,380,51,2023-10-28 00:04:36.346808,2023-10-28 00:04:36.346808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,148,Herring Run Park,0,0,0,0,0,0,0,0,0,0,0,0,2023-10-28 00:04:03.716493,2023-10-28 00:04:03.716493
136,137,Greenmount Cemetery,0,0,0,0,0,0,0,0,0,0,0,0,2023-10-28 00:04:03.704040,2023-10-28 00:04:03.704040
83,84,Carroll Park,0,0,0,0,0,0,0,0,0,0,0,0,2023-10-28 00:04:03.641656,2023-10-28 00:04:03.641656
17,18,Mt Pleasant Park,0,0,0,0,0,0,0,0,0,0,0,0,2023-10-28 00:04:03.557853,2023-10-28 00:04:03.557853
558,559,Gwynns Falls/Leakin Park,0,0,0,0,0,0,0,0,0,0,0,0,2023-10-28 00:04:36.660871,2023-10-28 00:04:36.660871

In [17]:
df = pd.read_sql_query("SELECT * from permits", cnx)
df

,id,address,description,neighborhood,issued_date,case_number,created_at,updated_at
0,1,321 E CROMWELL ST,"interior only modifications, no mep work, to i...",None,1579132800000,COM2019-03574,2023-10-27 20:04:55.118590,2023-10-27 20:05:00.997305
1,2,321 E CROMWELL ST,"interior only modifications, no mep work, to i...",None,1579132800000,COM2019-03574,2023-10-27 20:05:01.685478,2023-10-27 20:05:07.532955
2,3,835 S DECKER AVE,erect a 2nd floor rear addition 3 ft x 12 ft o...,CANTON,1552608000000,BMZ2019-00086,2023-10-27 20:06:47.001290,2023-10-27 20:06:47.843288
3,4,321 E CROMWELL ST,"interior only modifications, no mep work, to i...",None,1579132800000,COM2019-03574,2023-10-27 20:06:47.835587,2023-10-27 20:06:59.048216
4,5,606 HYSON ST,construct a two-story rear addition.,RIVERSIDE,1546819200000,BMZ2018-00455,2023-10-27 20:08:39.899808,2023-10-27 20:08:39.899808
...,...,...,...,...,...,...,...,...
4999,5000,1029 W 36TH ST,install new 13r sprinkler system (40 sprinkler...,HAMPDEN,1588809600000,COM2019-03562,2023-10-27 20:08:45.881056,2023-10-27 20:08:45.881056
5000,5001,2239 KIRK AVE,adding a new fire alarm system to an existing ...,EAST BALTIMORE MIDWAY,1580169600000,COM2019-03564,2023-10-27 20:08:45.882349,2023-10-27 20:08:45.882349
5001,5002,600 E PRATT ST,add 16 fire alarm devices for the new tenant r...,INNER HARBOR,1574294400000,COM2019-03565,2023-10-27 20:08:45.883380,2023-10-27 20:08:45.883380
5002,5003,25 S CHARLES ST 1310,install (14) fire alarm devices in suite 1310 ...,DOWNTOWN,1573036233000,COM2019-03567,2023-10-27 20:08:45.884537,2023-10-27 20:08:45.884537
5003,5004,321 E CROMWELL ST,"interior only modifications, no mep work, to i...",None,1579132800000,COM2019-03574,2023-10-27 20:08:45.885797,2023-10-27 20:08:45.885797